spring:

  application:
    name: libaryapi

  profiles:
    active: production

  output:
    ansi:
      enabled: ALWAYS

  datasource:
    url: jdbc:postgresql://localhost:5432/library
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none # update, create-drop
    properties:
      hibernate.format_sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_AUTH_CLIENT_ID}
            client-secret: ${GOOGLE_AUTH_CLIENT_SECRET}

logging:
  pattern:
    console: '%clr(%d{dd-MM-yyyy HH:mm:ss}){faint} %clr(%5p) %clr([%t]){faint} %clr(%-40.40logger){cyan} %clr(:){yellow} %m%n'
  file:
    name: logs/app.log
  level:
    root: warn # trace - debug - warn - info - error
    io:
      github:
        williamandradesantana: trace
    org:
      springframework:
        web: debug
        security: trace

management:
  server:
    port: 9090
  endpoints:
    web:
      exposure:
        include: '*' # ou beans, health, info...

springdoc:
  override-with-generic-response: false

# production
---
spring:
  config:
    activate:
      on-profile: production

  jpa:
    show-sql: false

# homologation
---
spring:
  config:
    activate:
      on-profile: homologation

  jpa:
    show-sql: false